* {
  box-sizing: border-box;
}

body {
  width:100vw;
  height:100vh;
  font-family: Arial;
  background-image: url("./Assets/background.png");
  background-repeat: repeat; 
  
}

.Viewframe{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  width:100%;
  height:100%;
}


.Modal{
  width:80%;
  height:70%;
  background: white;
  padding:40px;
  border-radius: 50px;
}